# Visual Studio files
.vs/
*.vcxproj.user
*.suo
*.user
*.ipch
*.opensdf
*.sdf
*.log
*.obj
*.tlog
*.idb
*.pdb
*.cachefile
*.aps
*.ncb
*.aps
*.ilk
*.o
*.obj
*.pch
*.res
*.exe
*.dll
*.dir
*.out
*.ipdb
*.iobj
*.vcxproj.filters

